## generic files to ignore
*.DS_Store
# Runtime data
*~
pids
*.pid
*.seed
*.lock
*.swp
*.out
# Logs
logs
*.log
# Env
.vscode
.idea
nbproject
bower_components
node_modules
.npm
.grunt
.env
.env.test
# Cache
coverage
*.lcov
.cache
.cache/
